:root {
    --purple: #af2189;
    --green: #baf2d8;
    --blue: #59aeb7;
}

body {
    background-color: var(--green);
    text-align: center;
}

#canvas {
    font-family: "Gugi";
    letter-spacing: 2px;
}

h1 {
    color: var(--purple);
    font-family: "Monoton";
    font-size: 70px;
    margin-top: 0.2em;
    margin-bottom: 0;
}

h1 span:first-of-type {
    color: var(--blue);
    font-family: "Gugi";
}

h1 span:nth-of-type(2) {
    color: black;
    font-family: "Righteous";
    font-size: 15px;
}

h3 {
    font-size: 18px;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}
